
@import "~react-image-gallery/styles/css/image-gallery.css";
  
.image-gallery-play-button .image-gallery-svg {
    display: none;
  }
  .image-gallery-fullscreen-button {
    display: none;
  }
  .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 20px;
  }
  .image-gallery-right-nav .image-gallery-svg svg:hover{
    fill: black;
  }
  .image-gallery-left-nav .image-gallery-svg {
    height: 60px;
    width: 20px;
  }
  .image-gallery-thumbnail{
    border: 0.9px solid #adabab;
    margin: 1rem 0;
    padding: 1rem 0;
  }
  .image-gallery-thumbnail:hover{
    border: 0.9px solid #adabab;
    outline: none;
  }
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    outline: none;
    border: 0.9px solid #adabab;
  }
  
  .image-gallery-thumbnail .image-gallery-thumbnail-inner {
   padding: 0.5rem;
  }

  .image-gallery-bullets{
    transform: translateY(2.5rem);
}
